<section class="md-whiteframe-z1 users">
  <md-list>
    <md-subheader class="md-no-sticky">Users</md-subheader>
    <md-list-item role="listitem" class="md-with-secondary ng-scope md-clickable">
      <button class="md-no-style md-button" type="button">
        <div class="md-list-item-inner">
          <img alt="" src="https://pbs.twimg.com/profile_images/615487591949840385/J7HzqG9z_400x400.jpg" width="40" class="md-avatar">
          <p>Harsh Thakkar</p>
        </div>
      </button>
    </md-list-item>
  </md-list>
  <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Add Users">
    <md-icon class="fa fa-plus plus-icon"></md-icon>
  </md-button>
</section>
{{field.image}}
<upload-image ng-model="field.image" multiple no-view></upload-image>
