<h2>
  <span ng-bind="template.title" ></span>
</h2>

<span flex></span>
<div class="md-toolbar-item layout-row" ng-controller="HeaderCtrl">
  <md-autocomplete
            md-search-text="searchForm.name"
            md-items="item in ctrl.querySearch(searchForm.name)"
            md-item-text="item.display"
            md-min-length="0"
            placeholder="Search"
            >
        </md-autocomplete>
  <md-button class="md-warn md-raised" ng-click="logOut()">Log Out</md-button>
</div>
